<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632507074051-so99du8gm4tl1o25e13roffc03431rbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632507074051-so99du8gm4tl1o25e13roffc03431rbr</string>
	<key>API_KEY</key>
	<string>AIzaSyDP1cNviB0siMjs383gud6QADxnMuYD1aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>632507074051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abeer.Community</string>
	<key>PROJECT_ID</key>
	<string>community-b69e3</string>
	<key>STORAGE_BUCKET</key>
	<string>community-b69e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632507074051:ios:8309bb40c9b1910857f036</string>
	<key>DATABASE_URL</key>
	<string>https://community-b69e3.firebaseio.com</string>
</dict>
</plist>